<!doctype html>
<html lang="en">

<head>
    <title>Carta</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/scss/carta.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-light py-4">
            <div class="container d-flex justify-content-between">

                <div>
                    <a href="../Index.html">
                        <img class="image-logo" src="../styles/images/logo.png" alt="Pirueta">
                    </a>
                </div>


                <div class="d-flex gap-5 menu">
                    <h1 class="nav-item">
                        <a class="nav-link" href="#" role="button">Menús</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Menu Del Dia</a></li>
                            <li><a class="dropdown-item" href="#">Menu De La Semana</a></li>
                            <li><a class="dropdown-item" href="#">Menu Del Mes</a></li>
                    </h1>
                    <h1 class="nav-item">
                        <a class="nav-link" href="#" role="button">Contacto</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Conócenos</a></li>
                            <li><a class="dropdown-item" href="#">¿Donde nos Ubicamos?</a></li>
                    </h1>
                    <h1 class="nav-item">
                        <a class="nav-link" href="#" role="button">Cartas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="Roma.html">Roma</a></li>
                            <li><a class="dropdown-item" href="#">São Paulo</a></li>
                            <li><a class="dropdown-item" href="#">El Cairo</a></li>
                    </h1>
                </div>

                <div>
                    <button class="menubutton" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas"
                        aria-controls="cartOffcanvas">
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <div class="row g-4">
            <!--Entrantes-->
            <h2 class="text-center text-white">Entrantes</h2>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/hummus.jpeg" class="card-img-top" alt="Hummus">
                    <div class="card-body">
                        <h5 class="card-title">Hummus</h5>
                        <p class="card-text">Puré de garbanzos con tahini, ajo y limón.</p>
                        <p class="card-text"><strong>Precio:</strong> 12.50€</p>
                        <p class="card-text"><strong>Alérgenos: granos de sésamo, frutos de cáscara, leche.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Baba Ganoush.jpg" class="card-img-top" alt="Baba Ganoush">
                    <div class="card-body">
                        <h5 class="card-title">Baba Ganoush</h5>
                        <p class="card-text">Puré de berenjenas ahumadas con tahini.</p>
                        <p class="card-text"><strong>Precio:</strong> 8€</p>
                        <p class="card-text"><strong>Alérgenos: CEREALES CON GLUTEN y productos derivados: trigo, centeno, cebada, avena, espelta, kamut y variedades híbridas.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Falafel.jpg" class="card-img-top" alt="Falafel">
                    <div class="card-body">
                        <h5 class="card-title">Falafel</h5>
                        <p class="card-text">Croquetas de garbanzo y especias fritas.</p>
                        <p class="card-text"><strong>Precio:</strong> 7€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten, Huevo, Sésamo, Soja y puede contener trazas de leche.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Dolma (Mahshi Warak Enab).webp" class="card-img-top" alt="Dolma (Mahshi Warak Enab)">
                    <div class="card-body">
                        <h5 class="card-title">Dolma (Mahshi Warak Enab)</h5>
                        <p class="card-text"> Hojas de parra rellenas de arroz y especias.</p>
                        <p class="card-text"><strong>Precio:</strong> 5€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Frutos Secos y Sulfitos.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Fattoush.webp" class="card-img-top" alt="Fattoush">
                    <div class="card-body">
                        <h5 class="card-title">Fattoush</h5>
                        <p class="card-text">Ensalada con pan frito, tomate, pepino y aliño de sumac.</p>
                        <p class="card-text"><strong>Precio:</strong> 8€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Sulfitos,Sésamo</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Koshari.jpeg" class="card-img-top" alt="Koshari">
                    <div class="card-body">
                        <h5 class="card-title">Koshari</h5>
                        <p class="card-text"> Mezcla de arroz, pasta, lentejas y salsa de tomate especiada.</p>
                        <p class="card-text"><strong>Precio:</strong> 9€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Sulfitos,Sésamo.</strong></p>
                    </div>
                </div>
            </div>
            <hr class="border border-warning my-5">
            <!--Platos principales-->
            <h2 class="text-center text-white">Platos principales</h2>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Kebabs y Kofta.jpg" class="card-img-top" alt="Kebabs y Kofta">
                    <div class="card-body">
                        <h5 class="card-title">Kebabs y Kofta</h5>
                        <p class="card-text"> Brochetas de carne de cordero o ternera con especias.</p>
                        <p class="card-text"><strong>Precio:</strong> 12€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Lácteos,Pescado,Sésamo,Frutos Secos.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Molokhia.jpg" class="card-img-top" alt="Molokhia">
                    <div class="card-body">
                        <h5 class="card-title">Molokhia</h5>
                        <p class="card-text"> Sopa de hojas de yute con pollo o conejo.</p>
                        <p class="card-text"><strong>Precio:</strong> 8.90€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Lácteos,Pescado o marisco,Frutos secos,Ajo.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Feseekh.jpg" class="card-img-top" alt="Feseekh">
                    <div class="card-body">
                        <h5 class="card-title">Feseekh</h5>
                        <p class="card-text">  Pescado fermentado y seco, típico en festivales.</p>
                        <p class="card-text"><strong>Precio:</strong> 15.75€</p>
                        <p class="card-text"><strong>Alérgenos: Pescado,Sal,Gluten,Sulfitos.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Shawarma.jpg" class="card-img-top" alt="Shawarma">
                    <div class="card-body">
                        <h5 class="card-title">Shawarma</h5>
                        <p class="card-text"> Carne de cordero o pollo marinado y asado en un pincho giratorio.</p>
                        <p class="card-text"><strong>Precio:</strong> 17.99€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Lácteos,Sésamo,Ajo,Frutos secos,Aceites y grasas.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Sayadeya.jpg" class="card-img-top" alt="Sayadeya">
                    <div class="card-body">
                        <h5 class="card-title">Sayadeya</h5>
                        <p class="card-text"> Pescado con arroz, cebolla y salsa de tomate.</p>
                        <p class="card-text"><strong>Precio:</strong> 14€</p>
                        <p class="card-text"><strong>Alérgenos: Pescado,Gluten,Marisco,Sulfito,Aceites,Especias.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Macarona Bechamel.jpg" class="card-img-top" alt="Macarona Bechamel ">
                    <div class="card-body">
                        <h5 class="card-title">Macarona Bechamel </h5>
                        <p class="card-text"> Pasta egipcia al horno con carne y salsa bechamel.</p>
                        <p class="card-text"><strong>Precio:</strong> 12€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Lácteos,Huevos,Carne,Soya.</strong></p>
                    </div>
                </div>
            </div>
            <hr class="border border-warning my-5">
            <!--Postres-->
            <h2 class="text-center text-white">Postres</h2>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Baklava.png" class="card-img-top" alt="Baklava ">
                    <div class="card-body">
                        <h5 class="card-title">Baklava </h5>
                        <p class="card-text"> Hojaldre con nueces y miel.</p>
                        <p class="card-text"><strong>Precio:</strong> 5.50€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Frutos secos,Lacteos,Azucar.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Kunafa.jpg" class="card-img-top" alt="Kunafa ">
                    <div class="card-body">
                        <h5 class="card-title">Kunafa </h5>
                        <p class="card-text"> Fideos de sémola rellenos de queso o crema con almíbar</p>
                        <p class="card-text"><strong>Precio:</strong> 7€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Lácteos,Frutos Secos,Azucar.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Basbousa.jpg" class="card-img-top" alt="Basbousa ">
                    <div class="card-body">
                        <h5 class="card-title">Basbousa </h5>
                        <p class="card-text"> Pastel de sémola con almíbar de rosas.</p>
                        <p class="card-text"><strong>Precio:</strong> 9.99€</p>
                        <p class="card-text"><strong>Alérgenos: Gluten,Lácteos,Frutos secos,Coco,Huevos.</strong></p>
                    </div>
                </div>
            </div>
            <hr class="border border-warning my-5">
            <!--Bebidas-->
            <h2 class="text-center text-white">Bebidas</h2>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Karkadeh.jpg" class="card-img-top" alt="Karkadeh ">
                    <div class="card-body">
                        <h5 class="card-title">Karkadeh </h5>
                        <p class="card-text"> Infusión de hibisco, servida fría o caliente.</p>
                        <p class="card-text"><strong>Precio:</strong> 4€</p>
                        <p class="card-text"><strong>Alérgenos: Hibisco,Sulfito,Azucar.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Sahlab.jpg" class="card-img-top" alt="Sahlab">
                    <div class="card-body">
                        <h5 class="card-title">Sahlab </h5>
                        <p class="card-text"> Bebida espesa de leche con harina de orquídea y frutos secos.</p>
                        <p class="card-text"><strong>Precio:</strong> 5.50€</p>
                        <p class="card-text"><strong>Alérgenos: Lácteos,Gluten,Frutos secos,Coco.</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center menu-card">
                    <img src="../styles/images/Tamr Hindi.webp" class="card-img-top" alt="Tamr Hindi">
                    <div class="card-body">
                        <h5 class="card-title">Tamr Hindi</h5>
                        <p class="card-text"> Jugo de tamarindo dulce y refrescante.</p>
                        <p class="card-text"><strong>Precio:</strong> 5€</p>
                        <p class="card-text"><strong>Alérgenos: Tamarindo,Sulfito,Azucar.</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border border-warning my-5">

        <!--Offcanvas-->
        <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="menuOffcanvas"
            aria-labelledby="menuOffcanvasLabel">
            <div class="offcanvas-body d-flex justify-content-between">
                <div class="d-flex align-content-between flex-wrap logo-section">
                    <h2 class="logo">Pirueta</h2>
                    <h2 class="terms">Terminos Y Condiciones</h2>
                </div>

                <div class="divider"></div>

                <div class="ms-4 destinations">
                    <a href="Roma.html" class="city">Roma</a>
                    <a class="city">São Paulo</a>
                    <a href="Elcairo.html" class="city">El cairo</a>
                </div>
            </div>
        </div>
        </div>
    </main>


    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>