<!doctype html>
<html lang="en">

<head>
    <title>Roma</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/scss/elcairo.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-light py-4">
            <div class="container d-flex justify-content-between">
                <div>
                    <a  href="../index.html">
                        <img class="image-logo" src="../styles/images/logo.png" alt="Pirueta">
                    </a>
                </div>


                <div class="d-flex gap-5 menu">
                    <h1 class="nav-item">
                        <a class="nav-link" href="#" role="button">Menús</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Menu Del Dia</a></li>
                            <li><a class="dropdown-item" href="#">Menu De La Semana</a></li>
                            <li><a class="dropdown-item" href="#">Menu Del Mes</a></li>
                    </h1>
                    <h1 class="nav-item">
                        <a class="nav-link" href="#" role="button">Contacto</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Conócenos</a></li>
                            <li><a class="dropdown-item" href="#">¿Donde nos Ubicamos?</a></li>
                    </h1>
                    <h1 class="nav-item">
                        <a class="nav-link" href="" role="button">Cartas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="Roma.html">Roma</a></li>
                            <li><a class="dropdown-item" href="#">São Paulo</a></li>
                            <li><a class="dropdown-item" href="Carta.html">El Cairo</a></li>
                    </h1>
                </div>

                <div>
                    <button class="menubutton" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas"
                        aria-controls="cartOffcanvas">
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="d-flex justify-content-between w-100 firstdiv">
            <p class="ms-5">Pirueta Roma</p>
            <div class="d-flex gap-5">
                <p class="mx-5">Galeria</p>
                <a href="#"><p class="mx-5">Carta</p></a>
            </div>
        </div>
        <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="imagediv" style="background-image: url('../styles/images/Roma1.png');"></div>
                    <div class="carousel-caption">
                        <h2>Pirueta</h2>
                        <h1>Roma</h1>
                        <div class="links">
                            <a href="./Reserva.html">Reservar</a>
                            <a href="#">Carta</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imagediv" style="background-image: url('../styles/images/roma2.png');"></div>
                    <div class="carousel-caption">
                        <h2>Pirueta</h2>
                        <h1>Roma</h1>
                        <div class="links">
                            <a href="./Reserva.html">Reservar</a>
                            <a href="#">Carta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container text-center container1">
                <h1>Te esperamos ven a vernos</h1>
                <p>En el corazón de la Ciudad Eterna, donde las piedras milenarias susurran historias de emperadores y poetas, Pirueta Roma se alza como un santuario culinario dedicado a la auténtica gastronomía romana. Aquí, cada plato es un tributo a la tradición, cada ingrediente una oda al terruño italiano, y cada bocado un viaje a las tabernas que han alimentado a generaciones de romanos.

                    Nuestro menú está inspirado en las calles empedradas de Trastevere, en los bulliciosos mercados de Campo de' Fiori y en los antiguos banquetes del Foro Romano. Entre nuestras especialidades, encontrará la emblemática Cacio e Pepe, un sencillo pero sublime encuentro entre queso pecorino y pimienta negra sobre pasta artesanal; la Carbonara, elaborada a la manera tradicional con guanciale, yema de huevo y pecorino sin adulteraciones; y la suculenta Saltimbocca alla Romana, tiernas láminas de ternera envueltas en prosciutto y perfumadas con salvia fresca.
                    
                    En Trattoria Augusta, cuidamos cada detalle para transportarle a la esencia de Roma, desde la calidez de nuestra hospitalidad hasta la atmósfera que evoca las trattorias más icónicas de la ciudad. Con una selección de vinos de las colinas del Lazio y aperitivos inspirados en la dolce vita, su visita será mucho más que una comida: será una experiencia inmersiva en el alma culinaria de Italia.
                    
                    Descubra la magia de la cocina romana en su máxima expresión. Bienvenidos a Pirueta Roma, donde la tradición y el sabor eterno de Roma se encuentran en cada plato.</p>
            </div>
            <div class="container text-center text-white container2 mt-5 ">
                <h3>Te esperamos</h3>
                <h2>Ven a Vivirlo</h2>
                <a href="Reserva.html">Reservar</a>

            </div>
            <div class="container mt-5">
                <div class="d-flex text-white justify-content-around">
                    <div class="container">
                        <h3>Cómo llegar:</h3>
                        <a class="mt-5 link" href="https://www.google.es/maps/@39.4704475,-0.3572413,109m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank"
                            rel="noopener noreferrer">C. Chile, 9-5</a>
                        <div class="mt-5 hours">
                            <div class="text-center">
                                <h2>Horarios</h2>
                            </div>
                            <div class="d-flex justify-content-between mt-5">
                                <div class="launch">
                                    <h3>Comidas</h3>
                                    <p>L-J: 13:00 - 15:30 h.</p>
                                    <p>V: 12:30 - 16:00 h.</p>
                                    <p>S-D: 12:30 - 16:15 h.</p>
                                </div>
                                <div class="dinner ms-5">
                                    <h3>Cenas</h3>
                                    <p>D-J: 19:30 - 22:30 h.</p>
                                    <p>V-S: 18:15 - 23:30 h.</p>
                                </div>
                            </div>
                        </div>

                        <div class="mapouter justify-content-center d-flex align-items-center mt-5">
                            <div class="gmap_canvas"><iframe width="815" height="575" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=C.+Chile+Valencia&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://online-timer.me/"></a><br><a
                                    href="https://online.stopwatch-timer.net/"></a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        left: 25%;
                        
                                        text-align: right;
                                        height: 575px;
                                        width: 700px;
                                        border-radius: 10px;
                                    }
                                </style><a href="https://www.embedmaps.co">custom google maps embed</a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 575px;
                                        width: 700px;
                                        border-radius: 10px; 
                                        
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Offcanvas-->
        <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="menuOffcanvas"
            aria-labelledby="menuOffcanvasLabel">
            <div class="offcanvas-body d-flex justify-content-between">
                <div class="d-flex align-content-between flex-wrap logo-section">
                    <h2 class="logo">Pirueta</h2>
                    <h2 class="terms">Terminos Y Condiciones</h2>
                </div>

                <div class="divider"></div>

                <div class="ms-4 destinations">
                    <a href="Roma.html" class="city">Roma</a>
                    <a class="city">São Paulo</a>
                    <a href="#" class="city">El cairo</a>
                </div>
            </div>
        </div>
        </div>
        <div class="mt-4 footerdivider"></div>
    </main>
    <footer class="container text-center d-flex justify-content-between text-white mt-3 ">
        <div>
            <img class="image-logo" src="../styles/images/logo.png" alt="Pirueta">
            <div class="d-flex justify-content-around mt-2  socialmedia">
                <a class="instagram"></a>
                <a class="x"></a>
            </div>
        </div>
        <div>
            <h3>Contact</h3>
            <h6>Pirueta,Sa</h6>
        </div>
        <div>
            <h3>Info</h3>
            <h6>Home</h6>
            <h6>About</h6>
            <h6>Shop</h6>
        </div>
        <div>
            <h3>Categories</h3>
            <h6>Pantry Essential</h6>
            <h6>Gourmet</h6>
            <h6>CockTail</h6>
            <h6>Liquor</h6>
        </div>
        <div>
            <h3>Account</h3>
            <h6>My account</h6>
            <h6>Cart</h6>
            <h6>Checkout</h6>
        </div>
        <div>
            <h3>The Fine Print</h3>
            <h6>Terms of Service</h6>
            <h6>Privacy Policy</h6>
            <h6>Delivery +</h6>
            <h6>Payment</h6>
        </div>


    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
        </script>
</body>

</html>