@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Lavishly+Yours&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Pochaevsk&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
$primarybackground: #1e0b08;
$secondarybackground: #f5deb3;
$textprimarycolor: #ffffff;
$textsecondarycolor: #1e0b08;
$font1: "Geist Mono", serif;
$titlefont: "Monsieur La Doulaise", serif;
$fontbody: "Teko", serif;


body,
html {
  background-color: $primarybackground;
  overflow-x: hidden;
}

@mixin texttittle {
  font-size: 3rem;
  font-family: $titlefont;
  color: $textprimarycolor;
  text-decoration: none;

}

@mixin textschedule {
  font-size: 1.5rem;
  font-family: $font1;
  margin-left: 5px;
  text-decoration: none;
  color: $textprimarycolor;
}



.navbar {
  width: 95%;

  .image-logo {
    height: 70px;
    mix-blend-mode: hard-light;
  }

  .menu {
    text-align: center;

    .nav-item {
      font-size: 2rem;
      font-weight: bold;
      color: $textprimarycolor;
      margin: 0 10px;
      position: relative;

      &:hover>.dropdown-menu {
        display: block;
      }

      .nav-link {
        position: relative;
        transition: color 0.3s ease-in-out;
        color: $textprimarycolor;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -5px;
          width: 0;
          height: 2px;
          background-color: gold;
          transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        }

        &:hover {
          color: gold;

          &::after {
            width: 100%;
            left: 0;
          }
        }
      }

      .dropdown-menu {
        background-color: $secondarybackground;
        border: none;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
      }

      .dropdown-item {
        background-color: $secondarybackground;
        color: $textsecondarycolor;
        transition: background 0.3s, color 0.3s;

        &:hover {
          background-color: darken($secondarybackground, 10%);
          color: darken($textsecondarycolor, 20%);
        }
      }
    }
  }
}

.firstdiv {
  @include textschedule()
}

.firstdiv a {
  @include textschedule()
}

.menubutton {
  background-image: url("../images/menu.png");
  background-size: cover;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: transparent;
}


.custom-offcanvas {
  width: 400px;
  background: wheat;
  color: $primarybackground;
  font-family: "Serif", serif;
  display: flex;
  text-align: right;
  padding: 20px;

  #menuOffcanvas {
    animation: fade-incanvas 3s;
  }

  &.show {
    transform: translateX(0);
  }

  .destinations>a {
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #1e0b08;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: darkred;
    }
  }
}


@keyframes fade-incanvas {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.offcanvas-body {
  text-align: start;

  .logo-section {
    margin-bottom: 20px;

    .logo {
      font-size: 28px;
      font-weight: bold;
    }

    .terms {
      font-size: 1.5rem;
    }
  }

  .divider {
    width: 1px;
    height: 20%;
    background-color: $primarybackground;
    position: absolute;
    left: 55%;
    top: 0;
    bottom: 0;
  }

  .destinations {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;

    .city {
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      color: $primarybackground;
    }
  } 

}



.imagediv {
  color: $textprimarycolor;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 95vw;
  height: 100vh;
  margin: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.3), $primarybackground);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    pointer-events: none;
  }
}


.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;


  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .links {
    margin-top: 10px;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      margin: 0 10px;
      padding-bottom: 5px;
      border-bottom: 2px solid white;
      transition: 0.3s;

      &:hover {
        border-bottom: 2px solid gold;
      }
    }
  }
}


.container1 {
  h1 {
    @include texttittle();
    margin-left: 5px;
  }

  p {
    font-family: $fontbody;
    font-size: 2rem;
    color: $textprimarycolor;
  }

}

.container2 {
  h3 {
    @include texttittle();
  }

  h2 {
    font-family: $titlefont;
    font-size: 2.5rem;
  }

  a {
    font-family: $fontbody;
    font-size: 2rem;
  }
}

.link {
  @include textschedule()
}


.launch,
.dinner {
  @include textschedule()
}

.footerdivider {
  width: 100%;
  height: 2px;
  background-color: white;
}

.image-logo {
  height: 60px;
  mix-blend-mode: hard-light;
}

.socialmedia {
  display: flex;
  gap: 10px;
}



